<.layout>
  <p>
    A systems blog
  </p>
  <h1> Latest Logs and developments </h1>
  <ul>
    <li :for={post <- @logs}>
      <a href={post.path}> <%= post.title %> </a>
    </li>
  </ul>
  <p> or check out the <a href="/logs">log index</a>.</p>
  <hr>
  <h1> Current systems </h1>
  <ul>
    <li :for={post <- @systems} class="system-item">
      <a href={post.path}> <%= post.title %> </a>
    </li>
  </ul>
  <p> or check out the <a href="/systems">systems index</a>.</p>
</.layout>
